:root {
  --slight-gray-color: #f4f4f4;
  --google-button: rgba(235, 67, 53, 1);
  --facebook-button: rgba(24, 119, 242, 1);
  --orange-color: #ff4b00;
  --gray-color: #a0a0a0;
  --white-color: #ffffff;
  --yellow-color: #ffc702;
}
body {
  font-family: "Loew";
}
@font-face {
  font-family: "Loew";
  src: url("../fonts/Loew Next Arabic Medium.ttf");
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* small screens */
@media (min-width: 768px) {
  .container {
    width: 748px;
  }
}
/* medium screens */
@media (min-width: 992px) {
  .container {
    width: 972px;
  }
}
/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
/* this code is used for both of login-page and registration-page */

/* beginning of login-page */
.login-page,
.register-page {
  background-color: var(--slight-gray-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .container {
  max-width: 600px;
}
.register-page .container {
  max-width: 600px;
}
.container h2 {
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  width: 100%;
}
@media (max-width: 768px) {
  .container h2 {
    font-size: 18px;
    line-height: 30px;
  }
}

.container form {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid var(--gray-color);
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 100%;
}
@media (max-width: 768px) {
  .container form {
    padding: 30px 20px;
  }
}

.container form h3 {
  font-weight: 500;
  line-height: 19px;
  align-self: center;
  font-size: 16px;
}
@media (max-width: 768px) {
  .container form .option-line h3 {
    font-size: 13px;
  }
}

.container form .media-buttons {
  padding-top: 12px;
  padding-bottom: 34px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.container form .media-buttons button:first-child {
  background-color: var(--google-button);
  width: 50%;
  height: 40px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .container form .media-buttons button:first-child {
    font-size: 9px;
  }
}
.container form .media-buttons button:first-child img {
  width: 17px;
  height: 17px;
  padding-left: 7px;
}

.container form .media-buttons button:last-child {
  background-color: var(--facebook-button);
  width: 50%;
  height: 40px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .container form .media-buttons button:last-child {
    font-size: 9px;
  }
}
.container form .media-buttons button:last-child img {
  width: 15px;
  height: 18.81px;
  padding-left: 7px;
}

.container form .option-line {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 7%;
}

.container form .option-line hr {
  border-color: var(--orange-color);
  margin: auto;
}
.container form .option-line h3 {
  width: inherit;
  text-align: center;
}

.container form label {
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
}

/* this code edits all fields in both pages */
.container form .email,
.first-name,
.password,
.family-name,
.phone-number,
.password-confirmation {
  position: relative;
  width: 100%;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  direction: rtl;
}

/* it edits any field of these types in both pages(log and reg) */
.container form input[type="email"],
[type="text"],
[type="tel"] {
  border: 1px solid var(--gray-color);
  outline: none;
  width: 100%;
  height: 40px;
  direction: rtl;
}

.container form .password .pass-container {
  width: 100%;
  height: 40px;
  display: flex;

  align-items: center;
  border: 1px solid var(--gray-color);
}

/* it edits any field of type "password" in both pages(log and reg)" */
.container form input[type="password"] {
  border: none;
  outline: none;
  direction: rtl;
  position: relative;
  width: 100%;
}
.container form .password .pass-container img {
  padding: 0 2%;
  color: var(--gray-color);
}

.container form input[type="submit"] {
  width: 182px;
  height: 46px;
  background-color: black;
  color: var(--white-color);
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;

  margin-top: 10%;
  margin-bottom: 5%;
}
@media (max-width: 768px) {
  .container form input[type="submit"] {
    font-size: 12px;
  }
}

.container form hr {
  width: 100%;
  border-color: var(--orange-color);
  margin-bottom: 6%;
}

.container form a {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: black;
  margin-bottom: 5%;
}
/* end of login-page */

/* beginning of reg-page */
.name {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10%;
}
.container form .password-confirmation .password-confirmation-container {
  border: 1px solid var(--gray-color);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
.container form .password-confirmation .password-confirmation-container img {
  padding: 0 2%;
  color: var(--orange-color);
}
.register-page .container form .account-type {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.register-page .container form .account-type h3 {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  text-align: right;
}
.register-page .container form .account-type label {
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  text-align: right;
  color: var(--gray-color);
}
.register-page .container form .account-type input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  .register-page .container form .account-type input[type="checkbox"] {
    width: 15px;
  }
}
.register-page .container form .agreement input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.register-page .container form .account-type .designer,
.owner {
  display: flex;
  gap: 10px;
  margin-bottom: 2%;
}

.register-page .container form .agreement {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-end;
  padding-top: 5%;
}

.register-page .container form .agreement label {
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  text-align: right;
}
.register-page .container form .agreement label a {
  color: var(--orange-color);
  text-decoration: none;
}
/* end of reg-page */

/* ------------------------------------------------------------------------------------------------------------------------ */

/* beginning of designers-page */

/* edits all "h2" tags in the designers page */
.designers-page .container h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  text-align: right;
}
@media (max-width: 768px) {
  .designers-page .container {
    width: -webkit-fill-available;
  }
  .designers-page .container h2 {
    font-size: 14px;
  }
}

/* the description section starts here */

.designers-page .container .description {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: var(--slight-gray-color);
}
@media (max-width: 768px) {
  .designers-page .container .description {
    padding: 2%;
    flex-direction: column;
  }
}

.designers-page .container .description .des-text {
  width: 50%;
}
@media (max-width: 768px) {
  .designers-page .container .description .des-text {
    width: -webkit-fill-available;
    margin: 3% 0;
  }
}

.designers-page .container .description img {
  height: 305px;
}
@media (max-width: 768px) {
  .designers-page .container .description img {
    width: 235px;
    height: 230px;
  }
}

.designers-page .container .description .des-text .up-text {
  font-size: 48px;
  font-weight: 800;
  line-height: 70px;
  text-align: right;
  color: var(--orange-color);
  padding-bottom: 3%;
}
@media (max-width: 768px) {
  .designers-page .container .description .des-text .up-text {
    font-size: 16px;
    line-height: 40px;
  }
}
.designers-page .container .description .des-text .down-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  text-align: right;
}
@media (max-width: 768px) {
  .designers-page .container .description .des-text .down-text {
    font-size: 12px;
  }
}
/* the description section ends here */

/* the design-categories section starts here */
.designers-page .container .design-categories {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
@media (max-width: 768px) {
  .designers-page .container .design-categories {
    padding: 0;
    margin-top: 5%;
  }
}

.designers-page .container .design-categories .categories {
  display: flex;
  align-items: center;
  gap: 5%;
  color: var(--orange-color);
  font-weight: 700;
}
@media (max-width: 768px) {
  .designers-page .container .design-categories .categories label {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .container .design-categories .categories img {
    width: 20px;
  }
}

.designers-page .container .design-categories .search-field {
  width: 50%;
  display: flex;
  border: 1px solid var(--gray-color);
  height: 54px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .designers-page .container .design-categories .search-field {
    width: 55%;
    height: 35px;
  }
}

.designers-page .container .design-categories .search-field input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--gray-color);
  position: relative;
  font-size: 14px;
  font-weight: 500;
  direction: rtl;
}
@media (max-width: 768px) {
  .designers-page .container .design-categories .search-field input {
    font-size: 10px;
  }
}
.designers-page .container .design-categories .search-field img {
  padding: 5%;
}
@media (max-width: 768px) {
  .designers-page .container .design-categories .search-field img {
    width: 15px;
    padding: 5% 3% 5% 1%;
  }
}

/* the design-categories section ends here */

/* the design-kind section starts here */

.designers-page .container .design-kinds {
  width: -webkit-fill-available;
  direction: rtl;
  padding-right: 5%;
}
@media (max-width: 768px) {
  .designers-page .container .design-kinds {
    padding: 0;
  }
}

.designers-page .container .design-kinds .kinds-container {
  width: 100%;
  display: flex;
  gap: 1%;
  padding-top: 1%;
}
.designers-page .container .design-kinds .kinds-container .kind {
  padding: 1.5% 2.8%;
  border: none;
  color: var(--gray-color);
  font-size: 22px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .designers-page .container .design-kinds .kinds-container .kind {
    font-size: 10px;
    padding: 1% 2%;
  }
}
.designers-page .container .design-kinds .kinds-container .kind:nth-of-type(4) {
  background-color: var(--orange-color);
  color: var(--white-color);
}
/* the design-kind section ends here */

/* the designer-level section starts here */

.designers-page .container .designer-level {
  width: -webkit-fill-available;
  direction: rtl;
  padding-right: 5%;
}
@media (max-width: 768px) {
  .designers-page .container .designer-level {
    padding: 0;
  }
}

.designers-page .container .designer-level .star-rating {
  display: flex;
  gap: 1%;
}

@media (max-width: 768px) {
  .container .designer-level .star-rating .star {
    width: 20px;
  }
}
/* the designer-level section ends here */

/* the search-result section starts here */
.designers-page .container .search-result {
  direction: rtl;
  width: -webkit-fill-available;
  direction: rtl;
  padding-right: 5%;
  padding-bottom: 2%;
}
@media (max-width: 768px) {
  .designers-page .container .search-result {
    padding-bottom: 10%;
    padding-right: 0;
  }
}
.designers-page .container .search-result .result-bt {
  display: flex;
  gap: 1%;
}

.designers-page .container .search-result .result-bt button {
  padding: 1%;
  display: flex;
  gap: 10px;
  color: var(--gray-color);
  background-color: transparent;
  border-color: var(--gray-color);
}
@media (max-width: 768px) {
  .designers-page .container .search-result .result-bt button {
    padding: 2%;
    font-size: 12px;
  }
  .designers-page .container .search-result .result-bt button img {
    width: 12px;
  }
}
/* the search-result section ends here */

/* the profiles section starts here */

.designers-page .container .profiles {
  padding-right: 5%;
  padding-left: 3%;
  width: -webkit-fill-available;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  direction: rtl;
  gap: 2%;
}
@media (max-width: 768px) {
  .designers-page .container .profiles {
    padding-right: 10%;
    width: auto;
    gap: 1%;
  }
}
.designers-page .container .profiles .designer-card {
  height: 393px;
  width: 301px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white-color);
  box-shadow: 0px 0px 30px 5px #ddd;
}
.designers-page .container .profiles .designer-card .card-header {
  display: flex;
  flex-direction: row-reverse;
  height: 55px;
  justify-content: space-between;
  align-items: baseline;
  padding: 1% 4% 2.5%;
  direction: ltr;
}

.designers-page .container .profiles .designer-card .card-header .info {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.designers-page .container .profiles .designer-card .card-header .info img {
  padding-left: 5%;
  width: 45px;
}
@media (max-width: 768px) {
  .designers-page .container .profiles .designer-card .card-header .info img {
    width: 35px;
  }
}

.designers-page .container .profiles .designer-card .card-header .info .text {
  direction: rtl;
  line-height: 0.5;
  width: 135px;
}
.designers-page .container .profiles .designer-card .info .text .name {
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}
.designers-page .container .profiles .designer-card .info .text .major {
  color: var(--orange-color);
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}

.designers-page .container .profiles .designer-card .rating label {
  color: var(--yellow-color);
  font-size: 16px;
  font-weight: 700;
}

.designers-page .container .profiles .designer-card .major-pic {
  height: 301px;
}
/* the profiles section ends here */

/* end of designers-page */
/* ------------------------------------------------------------------------------------------------------------------------ */
